@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: black;
    color: rgb(79, 255, 146);
    font-size: 3rem;
    font-family: 'Comfortaa', cursive;
}
a.anchor {
    display: block;
    position: relative;
    top: 150px;
    visibility: hidden;
}
nav.menu-bar ul{
    list-style-type: none;
    font-size: 20px;
    position: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    display: inline-flex;
    top: 0;
    padding: 0;
    background-color: black;
    color: #ffffff;
    z-index: +1;
}
nav.menu-bar li a{
    text-align: center;
    display: block;
    color: rgb(79, 255, 146);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 22px 28px;
}
nav.menu-bar li a:hover{
    background-color: rgb(79, 255, 146);
    color:white;
}
.top-icon{
    display:block; 
    width: 50px;
    margin-right: auto;
    padding: 10px 10px 10px 20px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.top-icon:hover{
    transition: 0.5s;
    filter: grayscale(0%);
}
.main-bar{
    text-align: center;
    margin-top: 220px;
    font-size: 5rem;
    animation: fade 2s ease;
}
.button{
    margin-top: 120px;
    animation: bounce 2s infinite ease;
}
.button a{
    color : white;
    text-decoration: none;
}
.button a:hover{
    transition: 1s;
    color: rgb(79, 255, 146);
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px 40px 120px 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0, 5, 2);
    transition: 0.5s;
}
.box:hover{
    height: 400px;
}
.box .pic-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.box .pic-box img{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .pic-box img{
    opacity: 1;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: white;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background-color: white;
    filter: blur(5px);
    z-index: -2;
}
.box:before,
.box:after{
    background: linear-gradient(235deg, rgb(255, 15, 79),black, black, cyan);
}
.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
    transition: 0.5s;
}
.box .content p{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    color: white;
}
.box .content p span{
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.skills-box{
    padding: 70px 30px 20px 30px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
.skills-box p{
    padding-top: 20px;
    color: white;
    font-family: 'Orbitron', "sans-serif";
    font-size: 1.5rem;
}
.skills-box .skills{
    margin-top: 30px;
    font-family: 'Orbitron', "sans-serif";
    display: flex;
    color: white;
    font-size:1.6rem;
    justify-content: center;
}
.skills-box .skills .icons{
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px;
    padding: 20px;
    color: black;
    opacity: 0.1;
    transition: 0.5s;
}
.skills-box .skills .icons:hover{
    display: block;
    width: 230px;
    height: 230px;
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    color: white;
    opacity: 1;
    transition: 0.5s;
}
.skills-box .skills .hobbies{
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 4px;
    border: 2px solid rgb(255, 15, 79); 
    margin: 20px;
    background-color: black;
    color: rgb(255, 15, 79);
    transition: 0.5s;
}
.skills-box .skills .hobbies:hover{
    border: 2px solid rgb(79, 255, 146); 
    background-color: white;
    color: black;
    height: 500px
}
.skills-box .skills .hobbies .content{
    opacity: 1;
    width: 220px;
    height: 500px;
    padding: 10px;
    transition : 0.5s;
}
.skills-box .skills .hobbies .content p{
    opacity: 0;
    color: black;
    font-family: 'Handlee', cursive;
    font-size: 1.2rem;
    text-align: justify;
    transition: 0.5s

}
.skills-box .skills .hobbies:hover .content p{
    opacity: 1;
    transition: 0.5s;
}
.desc{
    font-family: 'Handlee', cursive;
    color: rgb(171, 255, 203);
    font-size: 1.3rem;
}
@keyframes fade{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes bounce{
    0%   { transform: translateY(0); }
    35%  { transform: translateY(20px); }
    100% { transform: translateY(0); }
}