@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
html{
    scroll-behavior: smooth;
}
.main-box{
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6rem;
    text-shadow: 2px 2px 2px #57c7ff;
}
.main-box p{
    font-size: 1.3rem;
    text-align: justify;
    margin: auto;
    width: 60%;
    padding: 1% 2%;
    color: black;
    text-shadow: 0px 0px 0px;
}
.sub-box{
    width: 100%;
    margin-top: 90px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3rem;
    color:#57c7ff;

}
.sub-box p{
    font-size: 1.3rem;
    text-align: justify;
    margin: auto;
    width: 60%;
    padding: 1% 2%;
    color: white;
}
nav.menu-bar ul{
    list-style-type: none;
    font-size: 18px;
    position: fixed;
    margin: 0;
    width: 100%;
    font-family: 'Do Hyeon', sans-serif;
    display: inline-flex;
    top:0;
    padding:0;
    box-shadow: 0px 3px 3px #57c7ff;
    background-color: white;
    opacity: 0.9;
    color: #ffffff;
}
nav.menu-bar li a{
    text-align: center;
    display: block;
    color:#57c7ff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    padding: 18px 22px;
}
nav.menu-bar li a:hover{
    background-color:#57c7ff;
    color:white;
}
.icon-box{
    width: 160px;
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size:1.3rem;
    color: black;
    box-shadow: 2px 2px 2px #57c7ff;
    text-shadow: 1px 1px 1px #57c7ff;
    background-color: white;
}
.contact-box{
    width: 200px;
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size:1.3rem;
    color: white;
    box-shadow: 2px 2px 2px #ff2a4e;
    text-shadow: 0px 0px 0px;
    background-color: black;
}
.contact-box a{
    text-decoration: none;
    color:white;
}
.contact-box a:hover{
    color: #ff2a4e;
    transition: 0.5s;
}
.background-image{
    display: block;
    width: 100%;
}
.background-image2{
    display: block;
    margin: 30px 0 0 auto;
    width: 17%;
}
.background-image3{
    display: block;
    width: 8%;
    margin-left: 70px;
}